@page
@model AboutModel
@{
    ViewData["Title"] = "Расписание";
}
<h2>@ViewData["Title"]</h2>
<a href="#" class="button21">Добавить расписание</a>
<p></p>
<table class="table">
    <caption>Расписание на 25.04.2022 - 30.04.2022</caption>
    <tbody>

        <tr>
            <td>Номер занятия</td>
            <td>Понедельник</td>
            <td>Вторник</td>
            <td>Среда</td>
            <td>Четверг</td>
            <td>Пятница</td>
            <td>Суббота</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Математика</td>
            <td>Информатика</td>
            <td>Русский язык</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Химия</td>
            <td>География</td>
            <td>Математика</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Физика</td>
            <td>История</td>
            <td>Ин. яз</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>4</td>
            <td>-</td>
            <td>Литература</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>5</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
