@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/18854121_7.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/images/raspisanie_zanyatiy_prilozhenie.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="b-content-inner b-capabilities">
    <div class="title">Основные возможности</div>

    <div class="blocks">
        <div class="block">
            <div class="icon"><i class="fa fa-chrome"></i></div>
            <div class="title">Веб сервис</div>
            <p>Не требуется устанавливать дополнительных программ.</p>
        </div>

        <div class="block">
            <div class="icon"><i class="fa fa-th"></i></div>
            <div class="title">Авторасписание</div>
            <p>Составление в автоматическом и ручном режимах.</p>
        </div>

        <div class="block">
            <div class="icon"><i class="fa fa-bug"></i></div>
            <div class="title">Контроль наложений</div>
            <p>Автоматическое отслеживание «накладок».</p>
        </div>
    </div>

    <div class="blocks m-t-5">
        <div class="block">
            <div class="icon"><i class="fa fa-print"></i></div>
            <div class="title">Печать и экспорт</div>
            <p>Вывод представлений в формате Excel.</p>
        </div>

        <div class="block">
            <div class="icon"><i class="fa fa-user-plus"></i></div>
            <div class="title">Пользователи</div>
            <p>Одновременная работа над расписанием несколькими пользователями.</p>
        </div>

        <div class="block">
            <div class="icon"><i class="fa fa-area-chart"></i></div>
            <div class="title">Аналитика</div>
            <p>Просмотр загруженности класса, учителя, кабинета.</p>
        </div>
    </div>

    <div class="blocks m-t-5">

        <div class="block">
            <div class="icon"><i class="fa fa-random"></i></div>
            <div class="title">Замены</div>
            <p>Замены на каждый день.</p>
        </div>

        <div class="block">
            <div class="icon"><i class="fa fa-globe"></i></div>
            <div class="title">Публикация</div>
            <p>Публикация расписания в интернете.</p>
        </div>

        <div class="block">
            <div class="icon"><i class="fa fa-line-chart"></i></div>
            <div class="title">Отчеты</div>
            <p>Отчеты о проведенных занятиях и заменах</p>
        </div>

    </div>
</div>


