@page
@model ContactModel
@{
    ViewData["Title"] = "Расписание звонков";
}
<h2>@ViewData["Title"]</h2>
<a href="#" class="button21">Добавить звонки</a>
<p></p>
<table class="table">
    <tbody>
        <tr>
            <td>Номер занятия</td>
            <td>Время занятия</td>
            <td>Перемена</td>
        </tr>
        <tr>
            <td>1</td>
            <td>9:00 - 10:30</td>
            <td>10 минут</td>
        </tr>
        <tr>
            <td>2</td>
            <td>10:40 - 12:10</td>
            <td>35 минут</td>
        </tr>
        <tr>
            <td>3</td>
            <td>12:45 - 14:15</td>
            <td>10 минут</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
