@page
@model ContactModel
@{
    ViewData["Title"] = "Предметы";
}
<h2>@ViewData["Title"]</h2>
<a href="#" class="button21">Добавить предмет</a>
<p></p>
<table class="table">
    <tbody>
        <tr>
            <td>Название предмета</td>
            <td>Преподаватель</td>
            <td>Кабинет</td>
        </tr>
        <tr>
            <td>Русский язык</td>
            <td>Иванова И.И.</td>
            <td>110</td>
        </tr>
        <tr>
            <td>Информатика</td>
            <td>Петров П.П.</td>
            <td>301</td>
        </tr>
        <tr>
            <td>Математика</td>
            <td>Сергеева С.С.</td>
            <td>213</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
