@page
@model ContactModel
@{
    ViewData["Title"] = "Преподаватели";
}
<h2>@ViewData["Title"]</h2>
<a href="#" class="button21">Добавить преподавателя</a>
<p></p>
<table class="table">
    <tbody>
        <tr>
            <td>Имя преподавателя</td>
            <td>Сокращенное имя преподавателя</td>
        </tr>
        <tr>
            <td>Иванова Ирина Ивановна</td>
            <td>Иванова И.И.</td>
        </tr>
        <tr>
            <td>Петров Пётр Петрович</td>
            <td>Петров П.П.</td>
        </tr>
        <tr>
            <td>Сергеева Светлана Сергеевна</td>
            <td>Сергеева С.С.</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
